openapi: 3.0.1
info:
  description: Telemetry API
  version: 1.3.0
  title: V1 API
servers:
  - url: https://api.cloudzero.com/
paths:
  /unit-cost/v1/telemetry/allocation/{telemetry_stream_name}:
    post:
      tags:
        - telemetry
      summary: Post telemetry records
      description: >-
        Allocation telemetry provides additional information that the CloudZero
        system can use to split your cloud cost data through custom allocation
        dimensions. In this way, you can gain further insights into the costs of
        your multi-tenant systems, shared infrastructure, and more.


        The `telemetry_stream_name` sent to this API can be used in the
        `Streams` parameter of an `AllocateByStreams`

        custom dimension (see
        https://docs.cloudzero.com/docs/allocation-short-form-rules#allocatebystreams-short-form-rule)



        **Note**: This endpoint is the legacy version of
        `/unit-cost/v1/telemetry/allocation/{telemetry_stream_name}/sum`. It is
        functionally identical, but predates the operational path parameter
        concept.
      operationId: postAllocationTelemetry
      parameters:
        - name: telemetry_stream_name
          in: path
          description: >-
            A unique name to identify this telemetry stream. Best practice is
            for this to reflect the metric being used to measure utilization and
            its units. Only alphanumeric characters are allowed along with "_",
            ".", and "-".
              * i.e. `gigabyte-seconds-for-x-feature`, `count_of_records_in_x_database`, `bytes-consumed-in-x-feature`
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - $ref: '#/components/parameters/authorization_header'
      requestBody:
        content:
          application/json:
            schema:
              required:
                - records
              type: object
              properties:
                records:
                  type: array
                  description: A batch of telemetry records to submit to CloudZero.
                  items:
                    $ref: '#/components/schemas/allocation_telemetry_record'
        required: true
      responses:
        '200':
          description: Telemetry accepted
        '400':
          description: |-
            Invalid request, specific responses for:
              - Invalid JSON
              - Invalid Schema: Unrecognized filter keys
              - Invalid Schema: Missing required fields
              - Timestamp too far into the future
              - All records in a stream must contain the same filter keys
              - All records in a stream must contain the same granularity as the stream's granularity
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/allocation/{telemetry_stream_name}/sum:
    post:
      tags:
        - telemetry
      summary: Sum telemetry records
      description: >-
        Allocation telemetry provides additional information that the CloudZero
        system can use to split your cloud cost data through custom allocation
        dimensions. In this way, you can gain further insights into the costs of
        your multi-tenant systems, shared infrastructure, and more.


        The `telemetry_stream_name` sent to this API can be used in the
        `Streams` parameter of an `AllocateByStreams` custom dimension (see
        https://docs.cloudzero.com/docs/allocation-short-form-rules#allocatebystreams-short-form-rule)


        **Note**: This endpoint is functionally identical to the legacy
        `/unit-cost/v1/telemetry/allocation/{telemetry_stream_name}` endpoint.
      operationId: sumAllocationTelemetry
      parameters:
        - name: telemetry_stream_name
          in: path
          description: >-
            A unique name to identify this telemetry stream. Best practice is
            for this to reflect the metric being used to measure utilization and
            its units. Only alphanumeric characters are allowed along with "_",
            ".", and "-".
              * i.e. `gigabyte-seconds-for-x-feature`, `count_of_records_in_x_database`, `bytes-consumed-in-x-feature`
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - $ref: '#/components/parameters/authorization_header'
      requestBody:
        content:
          application/json:
            schema:
              required:
                - records
              type: object
              properties:
                records:
                  type: array
                  description: A batch of telemetry records to submit to CloudZero.
                  items:
                    $ref: '#/components/schemas/allocation_telemetry_record'
        required: true
      responses:
        '200':
          description: Telemetry accepted
        '400':
          description: |-
            Invalid request, specific responses for:
              - Invalid JSON
              - Invalid Schema: Unrecognized filter keys
              - Invalid Schema: Missing required fields
              - Timestamp too far into the future
              - All records in a stream must contain the same filter keys
              - All records in a stream must contain the same granularity as the stream's granularity
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/allocation/{telemetry_stream_name}/replace:
    post:
      tags:
        - telemetry
      summary: Replace telemetry records
      description: >
        This endpoint will replace any data within the appropriate stream that
        matches the supplied properties (timestamp and granularity are minimally
        required).


        **Note:** If no existing data matches the supplied properties, the data
        will be added to the stream.
      operationId: replaceAllocationTelemetry
      parameters:
        - name: telemetry_stream_name
          in: path
          description: Update matching telemetry records for an existing telemetry stream.
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - $ref: '#/components/parameters/authorization_header'
      requestBody:
        content:
          application/json:
            schema:
              required:
                - records
              type: object
              properties:
                records:
                  type: array
                  description: A batch of telemetry records to submit to CloudZero.
                  items:
                    $ref: '#/components/schemas/allocation_telemetry_record'
        required: true
      responses:
        '200':
          description: Telemetry accepted
        '400':
          description: |-
            Invalid request, specific responses for:
              - Invalid JSON
              - Invalid Schema: Unrecognized filter keys
              - Invalid Schema: Missing required fields
              - Timestamp too far into the future
              - Telemetry stream must exist in order to update telemetry records
              - All records in a stream must contain the same filter keys
              - All records in a stream must contain the same granularity as the stream's granularity
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/allocation/{telemetry_stream_name}/delete:
    post:
      tags:
        - telemetry
      summary: Delete telemetry records
      description: >
        This endpoint will delete any data within the appropriate stream that
        matches the supplied properties (timestamp and granularity are minimally
        required).


        **Note:** The unit metric must already exist when using this endpoint,
        and no "value" can be supplied.
      operationId: deleteAllocationTelemetry
      parameters:
        - name: telemetry_stream_name
          in: path
          description: Delete matching telemetry records for an existing telemetry stream.
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - $ref: '#/components/parameters/authorization_header'
      requestBody:
        content:
          application/json:
            schema:
              required:
                - records
              type: object
              properties:
                records:
                  type: array
                  description: A batch of telemetry records to submit to CloudZero.
                  items:
                    $ref: '#/components/schemas/delete_allocation_telemetry_record'
        required: true
      responses:
        '201':
          description: Telemetry accepted
        '400':
          description: |-
            Invalid request, specific responses for:
              - Invalid JSON
              - Invalid Schema: Unrecognized filter keys
              - Invalid Schema: Missing required fields
              - Timestamp too far into the future
              - Telemetry stream must exist in order to update telemetry records
              - All records in a stream must contain the same filter keys
              - All records in a stream must contain the same granularity as the stream's granularity
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/metric/{metric_name}:
    get:
      tags:
        - telemetry
      summary: Get metrics records
      description: >
        Get most recently submitted telemetry records for a given stream.


        **Note**: Recently submitted records can take several minutes to be
        available through this endpoint.
      operationId: getMetricTelemetry
      parameters:
        - name: metric_name
          in: path
          description: A unique name to identify this unit metric.
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - name: limit
          in: query
          description: The numbers of items to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
        - $ref: '#/components/parameters/authorization_header'
      responses:
        '200':
          description: Telemetry records
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
    post:
      tags:
        - telemetry
      summary: Post metrics records
      description: >
        A new public endpoint is available to send CloudZero Unit Metric
        telemetry data. This endpoint allows you to send Unit Metric data that
        will automatically be available in the CloudZero Analytics platform
        after the next data ingest.


        **Note**: This endpoint is the legacy version of
        `/unit-cost/v1/telemetry/metric/{metric_name}/sum`. It is functionally
        identical, but predates the operational path parameter concept.
      operationId: postMetricTelemetry
      parameters:
        - name: metric_name
          in: path
          description: A unique name to identify this unit metric.
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - $ref: '#/components/parameters/authorization_header'
      requestBody:
        content:
          application/json:
            schema:
              required:
                - records
              type: object
              properties:
                records:
                  type: array
                  description: A batch of telemetry records to submit to CloudZero.
                  items:
                    $ref: '#/components/schemas/metric_telemetry_record'
        required: true
      responses:
        '200':
          description: Telemetry accepted
        '400':
          description: |-
            Invalid request, specific responses for:
              - Invalid JSON
              - Invalid Schema: Unrecognized filter keys
              - Invalid Schema: Missing required fields
              - Timestamp too far into the future
              - All records in a stream must contain the same filter keys
              - All records in a stream must contain the same granularity as the stream's granularity
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/metric/{metric_name}/sum:
    post:
      tags:
        - telemetry
      summary: Sum metrics records
      description: >
        A new public endpoint is available to send CloudZero Unit Metric
        telemetry data. This endpoint allows you to send Unit Metric data that
        will automatically be available in the CloudZero Analytics platform
        after the next data ingest.


        **Note**: This endpoint is functionally identical to the legacy
        `/unit-cost/v1/telemetry/metric/{metric_name}` endpoint.
      operationId: sumMetricTelemetry
      parameters:
        - name: metric_name
          in: path
          description: A unique name to identify this unit metric.
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - $ref: '#/components/parameters/authorization_header'
      requestBody:
        content:
          application/json:
            schema:
              required:
                - records
              type: object
              properties:
                records:
                  type: array
                  description: A batch of telemetry records to submit to CloudZero.
                  items:
                    $ref: '#/components/schemas/metric_telemetry_record'
        required: true
      responses:
        '200':
          description: Telemetry accepted
        '400':
          description: |-
            Invalid request, specific responses for:
              - Invalid JSON
              - Invalid Schema: Unrecognized filter keys
              - Invalid Schema: Missing required fields
              - Timestamp too far into the future
              - All records in a stream must contain the same filter keys
              - All records in a stream must contain the same granularity as the stream's granularity
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/metric/{metric_name}/replace:
    post:
      tags:
        - telemetry
      summary: Replace metrics records
      description: >
        This endpoint will replace any data within the appropriate stream that
        matches the supplied properties (timestamp is minimally required).


        **Note:** If no existing data matches the supplied properties, the data
        will be added to the stream.
      operationId: replaceMetricTelemetry
      parameters:
        - name: metric_name
          in: path
          description: A unique name to identify this unit metric.
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - $ref: '#/components/parameters/authorization_header'
      requestBody:
        content:
          application/json:
            schema:
              required:
                - records
              type: object
              properties:
                records:
                  type: array
                  description: A batch of telemetry records to submit to CloudZero.
                  items:
                    $ref: '#/components/schemas/metric_telemetry_record'
        required: true
      responses:
        '200':
          description: Telemetry accepted
        '400':
          description: |-
            Invalid request, specific responses for:
              - Invalid JSON
              - Invalid Schema: Unrecognized filter keys
              - Invalid Schema: Missing required fields
              - Timestamp too far into the future
              - All records in a stream must contain the same filter keys
              - All records in a stream must contain the same granularity as the stream's granularity
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/metric/{metric_name}/delete:
    post:
      tags:
        - telemetry
      summary: Delete metrics records
      description: >
        This endpoint will delete any data within the appropriate stream that
        matches the supplied properties (timestamp is minimally required).


        **Note:** The unit metric must already exist when using this endpoint
        and "value" is an invalid field.
      operationId: deleteMetricTelemetry
      parameters:
        - name: metric_name
          in: path
          description: A unique name to identify this unit metric.
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - $ref: '#/components/parameters/authorization_header'
      requestBody:
        content:
          application/json:
            schema:
              required:
                - records
              type: object
              properties:
                records:
                  type: array
                  description: A batch of telemetry records to submit to CloudZero.
                  items:
                    $ref: '#/components/schemas/delete_metric_telemetry_record'
        required: true
      responses:
        '201':
          description: Telemetry accepted
        '400':
          description: |-
            Invalid request, specific responses for:
              - Invalid JSON
              - Invalid Schema: Unrecognized filter keys
              - Invalid Schema: Missing required fields
              - Timestamp too far into the future
              - All records in a stream must contain the same filter keys
              - All records in a stream must contain the same granularity as the stream's granularity
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/{telemetry_stream_name}/records:
    get:
      summary: Get telemetry stream records
      description: >
        Get most recently processed records for a given telemetry stream.


        **Note**: Recently submitted telemetry data can take several hours to be
        available through this endpoint.
      tags:
        - telemetry
      parameters:
        - name: telemetry_stream_name
          in: path
          description: The name of the telemetry stream to retrieve records for.
          required: true
          schema:
            pattern: ^[\w.-]{1,256}$
            type: string
        - name: limit
          in: query
          description: The numbers of items to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
        - $ref: '#/components/parameters/authorization_header'
      responses:
        '200':
          description: Telemetry records
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
  /unit-cost/v1/telemetry/{telemetry_stream_name}:
    delete:
      summary: Delete a telemetry stream
      description: >-
        Mark a telemetry stream for deletion.  It may take several minutes for
        this operation to complete. During that time you will be unable to
        create a new telemetry stream with the same name.
      tags:
        - telemetry
      parameters:
        - name: telemetry_stream_name
          in: path
          required: true
          description: The name of the telemetry stream or metric to delete
          schema:
            type: string
        - $ref: '#/components/parameters/authorization_header'
      responses:
        '200':
          description: Telemetry stream was marked for deletion
        '400':
          description: Invalid request
        '403':
          description: >-
            Not authorized, make sure you're using a valid API key in the header
            `Authorization`
components:
  schemas:
    unit_value:
      type: number
      minimum: 0
      example: 16.4
      exclusiveMinimum: true
      description: >-
        The value associated with this telemetry record (e.g., the number of
        requests, GBs, etc. of system usage that this record represents). Must
        be greater than 0.
    timestamp:
      type: string
      example: '2020-03-03T15:32:44+00:00'
      description: ISO formatted timestamp of when the usage occurred.
    granularity:
      type: string
      description: The sample frequency over time.
      default: HOURLY
      enum:
        - HOURLY
        - DAILY
        - MONTHLY
    granularity_metric:
      type: string
      description: The sample frequency over time.
      default: DAILY
      enum:
        - DAILY
        - MONTHLY
    element_name:
      type: string
      description: >-
        This is used to attribute usage to a specific customer, product, tenant,
        or other entity. Use either a generated UUID or a human-readable  name.
        This value will become an element of any allocation dimension in which
        this telemetry stream is used.
      example: Adidas
    filter:
      description: >-
        A definition of the portion of your infrastructure to which this
        allocation telemetry corresponds.


        Defined as a mapping from CloudZero Dimensions to lists of values, where
        dimensions are identified similarly to how they would be in the
        `partitions` parameter of a CloudZero Explorer URL
        (https://app.cloudzero.com/explorer).


        For example,
          - custom:<the name of your CloudZero Custom Dimension> (as defined in CostFormation via the Name parameter)
          - tag:<your cloud provider tag key>
          - k8s_label:<your Kubernetes label key>
          - accounts, services, product_family, ...
          - k8s_cluster, k8s_namespace, ...

        **Note:** `"filter": "*"` or the empty filter set `"filter": {}` will
        apply this telemetry to all of your spend.
      type: object
      additionalProperties:
        type: array
        items:
          type: string
    associated_cost:
      description: >-
        A definition of the portion of your infrastructure to which this metric
        telemetry corresponds. When filtering on the dimensions specified here
        via the CloudZero platform, the corresponding unit metric's value will
        also be filtered.


        Defined as a mapping from CloudZero Dimensions to string values, where
        dimensions are identified similarly to how they would be in the
        `partitions` parameter of a CloudZero Explorer URL
        (https://app.cloudzero.com/explorer).


        For example,
          - custom:<the name of your CloudZero Custom Dimension> (as defined in CostFormation via the Name parameter)
          - tag:<your cloud provider tag key>
          - k8s_label:<your Kubernetes label key>
          - accounts, services, product_family, ...
          - k8s_cluster, k8s_namespace, ...
      type: object
      additionalProperties:
        type: string
    allocation_telemetry_record:
      description: A single allocation telemetry record.
      type: object
      required:
        - value
        - timestamp
        - granularity
        - element_name
        - filter
      properties:
        value:
          $ref: '#/components/schemas/unit_value'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        granularity:
          $ref: '#/components/schemas/granularity'
        element_name:
          $ref: '#/components/schemas/element_name'
        filter:
          $ref: '#/components/schemas/filter'
    delete_allocation_telemetry_record:
      description: A single delete allocation telemetry record.
      type: object
      required:
        - timestamp
        - granularity
      properties:
        timestamp:
          $ref: '#/components/schemas/timestamp'
        granularity:
          $ref: '#/components/schemas/granularity'
        element_name:
          $ref: '#/components/schemas/element_name'
        filter:
          $ref: '#/components/schemas/filter'
    metric_telemetry_record:
      description: A single metric telemetry record.
      type: object
      required:
        - value
        - timestamp
      properties:
        value:
          $ref: '#/components/schemas/unit_value'
        timestamp:
          $ref: '#/components/schemas/timestamp'
        granularity:
          $ref: '#/components/schemas/granularity_metric'
        associated_cost:
          $ref: '#/components/schemas/associated_cost'
    delete_metric_telemetry_record:
      description: A single delete metric telemetry record.
      type: object
      required:
        - timestamp
      properties:
        timestamp:
          $ref: '#/components/schemas/timestamp'
        granularity:
          $ref: '#/components/schemas/granularity_metric'
        associated_cost:
          $ref: '#/components/schemas/associated_cost'
  parameters:
    authorization_header:
      in: header
      name: Authorization
      description: >-
        Your CloudZero [API
        Key](https://app.cloudzero.com/organization/api-keys). **Note:** This is
        not a bearer token, and should appear in the header as `Authorization`:
        `<cloudzero-api-key>`
      required: true
      schema:
        type: string
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
